th {
  align-items: center;
}
button {
  background-color: navy;
  color: white;
  padding: 5px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
  opacity: 0.9;
}
.signupbtn {
  float: center;
}
